
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
}

header {
    height: 75px;
}

header a {
    float: left;
    padding: 25px;
    color: #361E75;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(127, 52, 165);
}

#timer {
    float: right;
    padding: 25px;
}

#cover-page {
text-align: center;
}

.start-quiz {
    padding: 8px 16px; 
    background-color: #361E75;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    width: max-content;
}

.start-quiz:hover {
    background-color: blueviolet;
}

.quiz {
    margin: left 25%;
    margin: right 25%;
    text-align: left;
    display: none;
}
.ask {
    margin: 4px;
    height: 50px;
}

#choices {
    display: inline-block;
    padding: 5px;
}

.choice1, .choice2, .choice3, .choice4 {
    width: 100%;
    padding: 5px;
    display: block;
    background-color: #361E75;
    color: #ffffff;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}